p#notice = notice

h3 #{@website.name} - #{@website.host}

h4 Total number of Registers: #{@website.registers.count}
h4 Total number of influential people signed up: #{@website.registers.where(:is_influential => true).all.count}
/ Change the above two codes to helper

hr
p Use the below code on any page you have the form data on..
= "<script src=\"https://signupsumo.com/signupsumo.min.js\" data-key=\"#{@website.secret_token}\"></script>"
br
br
hr
= link_to 'Edit Website', edit_website_path(@website)
'|
= link_to 'Delete Website', @website, data: {:confirm => 'Are you sure?'}, :method => :delete
