<%= render 'shared/navbar' %>

<% if current_user.setup? %>
  <%= render 'dashboard/existing_user' %>
<% else %>
  <%= render 'dashboard/new_user' %>
<% end %>

<div class="callout callout-dark" style="margin-bottom: 20px">
  <div class="container">
    <div class="row" style="padding: 60px 0">
      <div class="col-xs-12 col-xs-7">
        <h2>Tips on reaching out</h2>
        <p>Take a few simple steps to engage with your influential users and help
        promote your product through the people that care about it most. Because,
        you want to geninuely connect with your users, get to know them a bit,
        instead of giving off that weird used car salesman vibe.</p>

        <a href="https://medium.com/@signupsumo/influencers-101-a1fdd3a6a13c" class="btn btn-dark btn-lg" style="margin-top: 24px">
          Read our "Influence 101"
        </a>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
