<script type="text/javascript" src="/6b87c6f41586fcb18e08ef638e332a12/signupsumo.js" data-token="<%= @api_key %>"></script>

<form>
<input type="email" />
<button type="submit">Submit</button>
</form>




<form>
  <input type="email" />
  <button type="submit">Submit</button>
</form>


<form>
  <input type="text" />
</form>
