<div class="footer">
  <div class="container clearfix">
    <div class="pull-right text-right">
      <p>&copy; 2015 SignupSumo</p>

      <ul class="list-inline">
        <li>
          <a href="mailto:signupsumo@helpful.io" data-helpful="signupsumo">Need Help?</a>
        </li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">Press</a>
        </li>
      </ul>
    </div>

    <div class="pull-left">
      <p>Follow the Sumo</p>

      <ul class="list-inline">
        <li>
          <a href="#">Twitter</a>
        </li>
        <li>
          <a href="#">Facebook</a>
        </li>
        <li>
          <a href="#">Instagram</a>
        </li>
      </ul>
    </div>

    <div class="footer-emblem">
      <%= image_tag "icons/sumo-embelem-yellow@2x.png" %>
    </div>
  </div>
</div>
