<div class="callout">
  <%= render 'shared/navbar' %>

  <div class="jumbotron">
    <div class="container">
      <h1>VIP Signup Alerts</h1>
      <h2>Connect with your most valuable users</h2>

      <div style="padding: 60px 0 140px 0">
        <%= link_to new_user_registration_path, class: 'btn btn-primary' do %>
          Get started <span class="hidden-xs">&mdash; it's free!</span>
        <% end %>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-0">
          <div class="email">
            <div class="email-toolbar">
              <span class="toolbar-button toolbar-button-red"></span>
              <span class="toolbar-button toolbar-button-yellow"></span>
              <span class="toolbar-button toolbar-button-green"></span>
            </div>
            <ul class="email-header">
              <li><span>Subject: </span>Doessier on new VIP</li>
              <li><span>Fred Wilson </span>just signed up!</li>
            </ul>
            <ul class="email-content">
              <li>His twitter account is <a href="#">@fredwilson</a> and he has <span>450,000</span> followers.</li>
              <li>He is a developer. His GitHub account is <a href="#">@fwilson</a>.</li>
              <li>He works for a recently funded startup.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin: 60px 0">
    <div class="col-xs-12 col-md-4" style="margin: 20px 0">
      <div class="card">
        <div class="card-title">
          <div class="media">
            <div class="media-left">
              <h1 style="margin: 0; font-size: 50px">1.</h1>
            </div>
            <div class="media-body">
              <h4 style="margin: 0">You install our script</h4>
            </div>
          </div>
        </div>
        <div class="card-body text-left">
          We have a super nifty script that will pull out the user's email from
          your signup form and send it our way. Just include our personalized
          script on your signup page and that's that.
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4" style="margin: 20px 0">
      <div class="card">
        <div class="card-title">
          <div class="media">
            <div class="media-left">
              <h1 style="margin: 0; font-size: 50px">2.</h1>
            </div>
            <div class="media-body">
              <h4 style="margin: 0">We lookup new signups</h4>
            </div>
          </div>
        </div>
        <div class="card-body text-left">
          Once we receive your new user's email. We pull in social data,
          personal info, and stats on the company they work for, which is all
          used to determine which users are note-worthy.
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4" style="margin: 20px 0">
      <div class="card">
        <div class="card-title">
          <div class="media">
            <div class="media-left">
              <h1 style="margin: 0; font-size: 50px">3.</h1>
            </div>
            <div class="media-body">
              <h4 style="margin: 0">You get VIP alert emails</h4>
            </div>
          </div>
        </div>
        <div class="card-body text-left">
          For verified, high-profile users, we send you a quick email alert
          detailing the new user, along with recommendations on which social
          network to use when reaching out.
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container text-center">
  <h2 class="price">Only <span>$9.00</span> a month for up to <span>100</span> hand-picked influential users of your product.</h3>

  <%= link_to new_user_registration_path, class: 'btn btn-default btn-xl', style: 'margin: 20px 0 60px 0' do %>
    Sign up <span class="hidden-xs">&mdash; First 10 alerts are free</span>
  <% end %>
</div>

<%= render 'shared/footer' %>
