<h1>Add us to your signup page!</h1>

<h4>Use our handy script tag.</h4>

<p>
Include this script tag somewhere on your signup page and then add the
"data-signupsumo" data attribute to your email field. We'll handle the rest.
Oh, and don't worry, we don't hold on to any of you're users information
once we've looked them up and notified you.
</p>
