<script type="text/javascript" src="/assets/signups.js" data-token="<%= @token %>" data-debug="true"></script>

<form>
<input type="email" />
<button type="submit">Submit</button>
</form>

<form>
  <input type="email" />
  <button type="submit">Submit</button>
</form>

<form>
  <input type="text" />
</form>
