<div class="exception">
  <%= render 'shared/navbar' %>

  <div class="jumbotron">
    <div class="container">
      <%= image_tag 'sumo-404.png' %>
      <h1>404!</h1>
      <h2>OH CRAP THIS IS AKWARD!!!</h2>
    </div>
  </div>
</div>
