.btn {
  border-radius: 80px;
  padding: 12px 30px;
  font-weight: bold;
}

.btn-dark {
  background-color: $gray;
  border: 1px solid $gray-lighter;
  color: $white;

  &:hover {
    background-color: darken($gray, 5%);
  }
}

button.close {
  opacity: 1;
}
