.btn {
  border-radius: 80px;
  padding: 12px 30px;
  font-weight: bold;
}

.btn-dark {
  background-color: $gray;
  border: 2px solid $gray-lighter;
  color: $white;

  &:hover {
    background-color: darken($gray, 5%);
  }
}

.btn-xl {
  font-size: 30px;
  padding: 18px 36px;
}

button.close {
  opacity: 1;
}

.btn-primary {
  color: $white !important;
  background-color: $brand-primary !important;
  border-color: #23b4bc;
  &:hover {
    background-color: darken($link-color, 15%) !important;
  }
}
