.jumbotron {
  text-align: center;
  background: $orange-light 70% bottom/1000px no-repeat image-url('bg/cityscape.png');

  h1 {
    color: $black;
  }

  h2 {
    font-weight: 600;
  }

  .btn {
    font-size: 36px;
    padding: 24px 48px;
  }

  .list-callout {
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    color: $black;
    margin-top: 32px;
    margin-bottom: 0;

    li {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
