.mailer-card {
  background-color: white;
  border-collapse:collapse;
  border-spacing: 0;
  margin: 60px auto;
  padding: 0;
  vertical-align: top;
  width: 580px;

  & > tbody > tr > td {
    padding: 40px;
    text-align: center;
  }

  td {
    padding: 20px;

    &.header {
      background-color: $orange-light;

      p {
        color: $white;
      }
    }

    &.details {
      background-color: $blue;
      color: $white;
    }

    &.footer {
      background-color: $black;
      color: $gray-light;
      text-align: left;
    }
  }
}
