.mailer-card {
  background-color: white;
  border-collapse:collapse;
  border-spacing: 0;
  margin: 60px auto;
  padding: 0;
  vertical-align: top;
  width: 580px;

  & > tbody > tr > td {
    padding: 40px;
    text-align: center;
  }

  td.pad-left {
    padding-left:2em;
  }

  tr {
    padding: 20px;

    &.header {
      background: $orange-light !important;

      p {
        color: $white;
      }
    }

    &.details {
      background: $blue !important;
      color: $white;
    }

    &.footer {
      background: $black !important;
      td {
        color: $gray-light !important;
        text-align: left;
      }
    }
  }
}
