html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

hr {
  border-top: 2px solid #e8e8e8;
}

code {
  background-color: transparent;
  color: $black;
  font-size: 18px;
}
