/**
 * Bezier Curve SCSS File
**/

$bezier-bounce: 0.750, -0.170, 0.230, 1.190;
$bezier-bouncein: 0.715, 0.170, 0.145, 1.245;
$bezier-ease: 0.875, 0.105, 0.190, 0.920;
$bezier-expo: 1.000, 0.000, 0.000, 1.000;
$bezier-nice: 0.625, 0.125, 0.305, 0.875;
$bezier-nicein: 0.145, 0.310, 0.300, 0.870;
$bezier-sine: 0.445, 0.050, 0.550, 0.950;
$bezier-out: 0.660, 0.120, 0.985, 0.545;