<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all" %>
    <style>
      html, body {
        background-color: #eee;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
